body, html {
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    font-family: Arial, "Bitstream Vera sans", FreeSans, sans-serif;
}

#header {
    position: relative;
    border-bottom: 2px solid #DDD;
    width: 100%;
    height: 40px;
    background-color: #EFEFEF;
}

#header img {
    position: absolute;
    float: left;
    width: 120px;
    bottom: 10px;
    left: 10px;
}

#navigation {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
    color: #4183C4;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
}

div.clear {
    clear: both;
}

#pastes {
    width: 68%;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

#log {
    width: 32%;
    float: right;
}


#paste-description {
    background-color: #DDDDDD;
    border: 1px solid #999999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #555555;
    width: 90%;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

div.entryless,
div.entry {
    position: relative;
    width: 95%;
    margin: 0 auto;
    background-color: #EFEFEF;
    border: 2px solid #DDD;
}

div.entry {
    margin-top: 10px;
}


div.entry {
    border-radius: 5px;
}

div.entryless + ul > li:first-child > div.entry {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    margin-top: 0;
}

div.entryless {
    border: 2px solid #DDD;
    border-bottom: 0 !important;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div.clear + div.entry {
    margin-top: 10px;
}

div.anonymous,
div.file,
div.description {
    padding: 2px 5px;
}

div.language {
    float: right;
}

div.language label {
    font-size: 14px !important;
    float: none !important;
}

div.file input {
    width: 30%;
}

div.entry > div > div {
    margin: 2px 5px;
}

div.entryless > div {
    margin-left: 5px;
}


form p input,
div.entryless div > input,
div.entry div > textarea,
div.entry div > select,
div.entry div > input {
    border: 1px solid #999;
    font-size: 15px;
    background-color: #FAFAFA;
    color: #444;
    border-radius: 5px;
}

div.description input {
    width: 100%;
}

div.entry input:focus {
    background-color: #FFF !important;
}

div.paste > div {
    margin: 2px 10px !important;
}

div.entry textarea {
    width: 100%;
    height: 300px;
    font-family: Consolas, Monaco, "Bitstream Vera sans Mono", monospace;
    font-size: 15px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

div.submit {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

div.anonymous label {
    display: inline;
    width: inherit !important;
}

div.anonymous input {
    width: inherit;
    margin: 0;
    margin-left: 5px;
}

div.submit input {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

h1 {
    color: #444;
}

.link,
a {
    color: #4183C4;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}


div.add-row {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
}

div.delete-row {
    display: block;
    text-align: right;
    font-size: 12px;
    padding: 5px;
}

a.delete-row {
    color: #A60000;
}

span.header {
    font-size: 18px;
    color: #333;
}


div.entry label {
    color: #444;
}

div.entryless label {
    font-size: 12px; 
    float: left; 
    width: 80px;
    color: #444;
}

div.small {
    font-size: 12px;
}

.alert {
    color: #A63E45;
}

#log h1 {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    width: 90%;
    margin-top: 0;
}

#log ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    width: 90%;
}

#log li {
    padding: 3px;
}

span.author {
    font-weight: bold;
}

span.date {
    color: #999;
}

span.description {
    color: #444;
}

li.active {
    background-color: #D2E9FF;
    border-radius: 5px;
}

.light {
    color: #555;
}

div.results {
    width: 60%;
    margin: 0 auto;
}

div.results > h1 {
    margin-left: 20px;
}

div.results > p {
    margin-left: 20px;
    margin-top: -10px;
}

form p {
    padding: 0 5px;
}

form ul {
    list-style: none;
}

div.search-submit {
    clear: both;
    margin-left: 20px;
}

.tiny {
    font-size: 10px;
}

.center {
    text-align: center;
}

.gray {
    color: #666;
}

.default-input {
    color: #444 !important;
}

.hidden {
    display: none;
}
