body, html {
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    font-family: Arial, "Bitstream Vera sans", FreeSans, sans-serif;
}

#header {
    position: relative;
    border-bottom: 1px solid #DDD;
    width: 100%;
    height: 40px;
    background-color: #EFEFEF;
}

#header img {
    position: absolute;
    float: left;
    width: 140px; /* height 25px */
    padding: 10px 0 5px;
    left: 15px;
}

#navigation {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation ul li {
    display: inline;
    color: #4183C4;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
}

#content {
    margin: 15px 0 80px 0;
}

div.clear {
    clear: both;
}

#pastes {
    width: 68%;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
}

#log {
    width: 32%;
    float: right;
}

.info {
    background-color: #F6F7C1 !important;
    border: 1px solid #EDE788 !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #2b2b2b;
    padding: 8px;
    font-size: 12px;
}

#paste-description {
    width: 90%;
    margin-bottom: 20px;
}

#recent-pastes, .sidebar-message {
    width: 90%;
}

div.entryless,
div.entry {
    position: relative;
    width: 95%;
    margin: 0 auto;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
}

div.entry {
    margin-top: 10px;
    border-radius: 5px;
}

div.entryless + ul > li:first-child > div.entry {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    margin-top: 0;
}

div.entryless {
    border: 1px solid #DDD;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 0 3px 0;
}

div.clear + div.entry {
    margin-top: 10px;
}

div.anonymous,
div.file,
div.description {
    padding: 2px 5px;
}

div.language {
    float: right;
}

div.language label {
    font-size: 14px !important;
    float: none !important;
}

div.file input {
    width: 30%;
}

div.entryless > div > div,
div.entry > div > div {
    margin: 2px 5px;
}

div.entryless > div {
}

form p input,
div.entryless div > input,
div.entry div > textarea,
div.entry div > select,
div.entry div > input,
div.submit_options > select {
    border: 1px solid #999;
    font-size: 14px;
    background-color: #FAFAFA;
    color: #444;
    border-radius: 5px;
    padding: 3px;
}

div.description input {
    width: 99%;
}

div.entry input:focus {
    background-color: #FFF !important;
}

div.paste > div {
    margin: 2px 10px !important;
}

div.entry textarea {
    width: 99%;
    height: 300px;
    font-family: Consolas, Monaco, "Bitstream Vera sans Mono", monospace;
    font-size: 15px;
    background-color: #FAFAFA;
    color: #000 !important;
    border-radius: 5px;
    padding: 0;
}

div.submit {
    position: relative;
    width: 95%;
    margin: 5px auto;
    color: #444;
    font-size: 15px;
}

div.submit-options {
    float: right;
}

span.submit-options-private {
    margin-right: 20px;
}

input.submit {
    margin-left: 40px;
}

div.anonymous label {
    display: inline;
    width: inherit !important;
}

div.anonymous input {
    width: inherit;
    margin: 0;
    margin-left: 5px;
}

h1 {
    color: #444;
    line-height: 1.1em;
}

.link,
a {
    color: #4183C4;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;

}

.link:hover,
a:hover {
    text-decoration: underline;
}


div.add-row {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
    display: block;
}

div.add-row a {
    display: block;
    padding: 10px 8px 8px 35px;
    border: 1px solid #DDD;
    background: 10px no-repeat url('../img/icons/page_add.png') #EFEFEF;
    font-size: 14px;
}

div.add-row a:hover {
    text-decoration: none;
    background-color: #e0e0e0;
}

div.delete-row {
    display: block;
    text-align: right;
    font-size: 12px;
    padding: 5px 10px 5px 5px;
}

a.delete-row {
    color: #A60000;
}

span.header {
    font-size: 18px;
    color: #333;
}


div.entry label {
    color: #444;
}

div.entryless label {
    font-size: 12px;
    float: left;
    width: 80px;
    color: #444;
}

div.small {
    font-size: 12px;
}

.alert {
    color: #A63E45;
}

#log h1 {
    font-size: 16px;
    border-bottom: 1px solid #DDD;
    width: 90%;
    margin-top: 0;
}

#log ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    width: 90%;
}

#log li {
    padding: 3px;
}

span.author {
    font-weight: bold;
}

span.date {
    color: #999;
}

span.description {
    color: #444;
}

li.active {
    background-color: #D2E9FF;
    border-radius: 5px;
}

.light {
    color: #555;
}

form p {
    padding: 0 5px;
}

form ul {
    list-style: none;
}

div.search-submit {
    clear: both;
    margin-left: 20px;
}

.tiny {
    font-size: 10px;
}

.center {
    text-align: center;
}

.gray {
    color: #666;
}

.default-input {
    color: #444 !important;
}

.hidden {
    display: none;
}

.right {
    text-align: right;
}
