div.entry input {
    width: 200px !important;
    margin-right: 15px;
    float: left;
}

div.entry label {
    float: left;
    width: 90px;
    border-top: 0;
}

div.entry {
    padding: 10px;
    font-size: 12px;
}

div.entry > div > div {
    padding: 5px 0;
    border-top: 2px solid #DDD;
}

div.entry > div > div:first-child {
    border-top: 0;
}

#favorites {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

div.register {
    text-align: right;
}

span.small {
    font-size: 8px;
}

ul.errorlist {
    list-style: none;
    color: #A63E45;
    margin: 0;
    padding: 0;
    clear: both;
}

#favorites h1 {
  line-height: 1.1em;
  margin: 0;
  padding: 0;
}

#profile-img {
    position: relative;
    border-radius: 5px;
    top: 10px;
}

img.gravatar-community {
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}

div.user {
    clear: left;
}
