#sortable {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sortable > li {
  cursor: grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

#sortable > li.ui-sortable-helper {
  cursor: grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

#sortable li.ui-sortable-helper > div {
    border-top: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #777;
    background-color: #E0E0E0;
}

div.entry-header {
    border-bottom: 1px solid #DDD !important;
}

.paste-list {
  font-size: 12px;
  width: 90%;
}

.paste-list .pastes {
  height: 265px;
  overflow: auto;
}

.paste-list > div:nth-child(odd) { 
  margin-bottom: 5px;
  border-bottom: 1px solid #EFEFEF;
}

.paste-list > div:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}


