div.entry > div {
    margin: 10px 0;
    clear: left;
}

div.entry label {
    float: left;
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

div.timezone label {
    margin-top: 5px;
}

div.results {
  width: 600px;
  margin: 0 auto;
}
