html {
    -webkit-font-smoothing: antialiased;
}

div.highlight {
    background-color: #FFF;
    border-radius: 5px;
}

div.highlight > pre {
    width: 100%;
    padding: 0px 10px;
    padding-top: 0;
}

div.paste table {
    width: 100%;
}

div.entryless,
div.entry {
    border-radius: 5px !important;
}

div.entryless + div.entry {
    margin-top: 10px;
}

pre > a {
    text-decoration: none;
}

a {
    font-size: inherit;
}

div.description,
div.file {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

div.paste > div {
    margin: 0 10px !important;
}

#favorite-toggle {
    cursor: pointer;
}

pre {
    overflow: auto;
    font-family: 'Droid Sans Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 0.75em;
    line-height: 1.5em;
}

.linenos {
    width: 30px !important;
}

div.private-note {
    margin-bottom: 20px;
    background: 10px no-repeat url('../img/icons/key.png') #D2E9FF !important;
    border: 1px solid #A7D4F9;
    font-size: 14px !important;
}

div.private-note > .entry-header {
    margin-left: 35px;
}

span.paste-actions {
    float: right;
    margin-right: 10px;
}

div.submit input {
    border: inherit;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
}

.comment textarea {
    height: 100px;
    background-color: #FAFAFA;
}

.comment form {
    width: 98%;
    margin: 0 auto;
}

.comment .author {
    text-indent: 40px;
    margin: 0;
    font-size: 14px;
    color: #444;
    background-color: #DDD;
    padding: 5px;
}

.committer {
    background-color: #D2E9FF !important;
}

.committer a {
    color: #000;
}

.comment-index {
    width: 98%;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #999;
    margin-bottom: 5px;
}

.comment-index pre {
    margin-left: 10px;
}

div.entry-comment {
    width: 95%;
    margin: 0 auto;
}

div.file-download {
    float: right;
}

div.comment-index {
    border-radius: 5px;
}

div.comment h1.header {
    text-indent: 10px;
    margin-bottom: 5px;
}

div.comment h1.header + p {
    margin: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

#id_comment {
    height: 130px;
}

div.entry-header {
    overflow: hidden;
    margin-left: 10px;
}

div.entry-header img.gravatar-community {
    float: left;
    width: 40px;
    margin-right: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.paste-actions a,
.paste-actions span {
    margin-left: 5px;
}


