div.highlight {
    background-color: #FFF;
    border-radius: 5px;
}

div.highlight > pre {
    width: 100%;
    padding: 0px 10px;
    padding-top: 0;
}

div.paste table {
    width: 100%;
}

div.entryless,
div.entry {
    background-color: #E9E9E9;
    border-radius: 5px !important;
    border: 2px solid #DDD !important;
}

div.entryless + div.entry {
    margin-top: 10px;
}

pre > a {
    text-decoration: none;
}

a {
    font-size: inherit;
}

div.description,
div.file {
    border: 0;
    font-size: 14px;
    font-weight: bold;
    color: #444;
}

div.paste > div {
    margin: 0 10px !important;
}

#favorite-toggle {
    cursor: pointer;
}

pre {
    overflow: auto;
}

.linenos {
    width: 30px !important;
}

div.submit input {
    border: inherit;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
}

.comment textarea {
    height: 100px;
    background-color: #FAFAFA;
}

.comment form {
    width: 98%;
    margin: 0 auto;
}

.comment h1 {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #444;
}

.comment-index {
    width: 98%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 2px;
    border: 1px solid #EFEFEF;
    margin-bottom: 5px;
}

.comment-index pre {
    margin-left: 10px;
}

div.entry-comment {
    width: 95%;
    margin: 0 auto;
}

div.file-download {
    float: right;
}
