{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href='{% static "paste/css/ext/font-awesome.min.css" %}'>
        <link rel='stylesheet' href='{% static "paste/css/base.css" %}'>
        {% block css %}{% endblock %}
        <script src='{% static "paste/js/jquery-1.9.0.min.js" %}'></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <article>
            <nav>
                <a href='{% url "paste_new" %}'>
                    <img id='logo' src='{% static "paste/img/paste/logo.png" %}'>
                </a>
                <ul>
                    <li><a href="{% url "paste_new" %}"><i class='icon-file icon-1x'></i><span>New</span></a></li>
                    <li><a href="#"><i class='icon-group icon-1px'></i><span>All</span></a></li>
                    <li>|</li>
                    {% if user.is_authenticated %}
                    <li><a href="#">Pastes</a></li>
                    <li><a href="#">Preferences</a></li>
                    {% else %}
                    <li><a href="#"><i class='icon-user icon-1px'></i><span>Login</span></a></li>
                    <li><a href="#"><i class='icon-plus icon-1px'></i><span>Register</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            <section>
                {% block content %}{% endblock %}
            </section>
        </article>
    </body>
</html>
