{% extends "paste/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href='{% static "paste/css/paste_new.css" %}'>
<link rel='stylesheet' href='{% static "paste/js/chosen/chosen.css" %}'>
{% endblock %}

{% block js %}
<script src='{% static "paste/js/require.js" %}'></script>
<script>require.config({ baseUrl: "/static/paste/js" });</script>
<script src='{% static "paste/js/jquery.formset.js" %}'></script>
<script src='{% static "paste/js/chosen/chosen.jquery.min.js" %}'></script>
{% endblock %}

{% block content %}
<section class='content'>
    <form id='form' method='POST' action='{% url "paste_new" %}'>
        <div class="description">
            <img height="48px" src="http://goo.gl/VPr6i" alt="justinvh">
            <!-- <i class='icon-comment-alt icon-3x'></i> -->
            {{ metadata_form.description|attr:"placeholder:add a paste description..." }}
        </div>
        <ul class="pastes">
            {% for paste_form in paste_formset %}
            <li>
                <div class="close">
                    <i class="icon-remove-sign icon-1x"></i>
                    <span>close</span>
                </div>
                <div class="title">
                    {{ paste_form.filename|attr:"placeholder:add a filename..."}}
                    {{ paste_form.language }}
                </div>
                <div class="paste">
                    <div class='hide'>{{ paste_form.paste }}</div>
                    <pre></pre>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div id='add-paste'>
            <i class='icon-plus icon-1x'></i>
            add another file to this paste
        </div>
        <div class="submission">
            <div class="right">
                <button type="submit" name="submit" value="Create Private Paste">
                    <i class='icon-lock icon-1x'></i>
                    Create Private Paste
                </button>

                <button type="submit" name="submit" value="Create Public Paste">
                    <i class='icon-unlock icon-1x'></i>
                    Create Public Paste
                </button>
            </div>
        </div>
        {% csrf_token %}
        {{ paste_formset.management_form }}
    </form>
</section>

<script>
$(document).ready(function () {
    var ace_pos = 0;
    var editors = {};
    var ace = require(['ace/ace'], function (ace) {
        $('div.paste > pre').each(function () {
            var editor = ace.edit(this);
            editor.setTheme('ace/theme/textmate');
            editor.getSession().setMode('ace/mode/javascript');
            editors[this] = editor;
        });
    });

    var build_li = function (li) {
        var $li = $(li);
        var $pre = $('div.paste > pre', $li);
        var $delete_row = $('a.delete-row', $li);

        $('div.close', $li).click(function () {
            $delete_row.click();
        });

        $('div.title', $li).each(function () {
            var $this = $(this);
            var $select = $('select', $this);
            var $input = $('input', $this);
            var split = [];
            var $chosen = $select.attr('data-placeholder', 'Choose a language').chosen();

            $('option', $this).each(function () {
                var value = $(this).val().split('|');
                var regexp = new RegExp(value[1]);
                $(this).val(value[0]);
                split.push([regexp, value[0]]);
            });

            var active_timer = null;
            $input.keyup(function () {
                clearTimeout(active_timer);
                var input_text = $(this).val();
                active_timer = setTimeout(function () {
                    for (var i = 0; i < split.length; i++) {
                        var s = split[i];
                        var re = s[0];
                        var element = s[1];
                        if (re.test(input_text)) {
                            $chosen.val(element).trigger("liszt:updated");
                            var editor = editors[$pre[0]];
                            editor.getSession().setMode('ace/mode/' + element);
                            return;
                        }
                    }
                }, 250);
            }).blur(function () {
                $(this).keyup();
            });

            $chosen.val('text').trigger('liszt:updated');
        });
    };

    $('ul.pastes > li').formset({
        prefix: 'formset',
        addText: '',
        deleteText: '',
        added: function (e) {
            build_li(e);
        }
    });

    $('#add-paste').click(function () {
        $('ul.pastes .add-row').click();
    });

    $('ul.pastes > li').each(function (e) {
        build_li(this);
    });

});
</script>
{% endblock %}
