{% extends "paste/base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href='{% static "paste/css/paste_new.css" %}'>
<link rel='stylesheet' href='{% static "paste/js/chosen/chosen.css" %}'>
{% endblock %}

{% block js %}
<script src='http://code.jquery.com/ui/1.10.2/jquery-ui.js'></script>
<script src='{% static "paste/js/require.js" %}'></script>
<script>require.config({ baseUrl: "/static/paste/js" });</script>
<script src='{% static "paste/js/jquery.formset.js" %}'></script>
<script src='{% static "paste/js/chosen/chosen.jquery.min.js" %}'></script>
<script src='{% static "paste/js/pages/paste-new.js" %}'></script>
{% endblock %}

{% block content %}
<section class='content'>
    <form id='form' method='POST' action='{% url "paste_new" %}'>
        <div class="description">
            {{ metadata_form.description|attr:"placeholder:add a paste description..." }}
        </div>
        <ul class="pastes">
            {% for paste_form in paste_formset %}
            <li>
                {{ paste_form.errors }}
                <div class="close">
                    <i class="icon-remove-sign icon-1x"></i>
                    <span>close</span>
                </div>
                <div class="options">
                    <span class="editor_mode">{{ paste_form.editor_mode }}</span>
                    <span class="hard_tab">{{ paste_form.tab_type }}</span>
                    <span class="tab_size">{{ paste_form.tab_size }}</span>
                </div>

                <div class="title">
                    <span class="filename">{{ paste_form.filename|attr:"placeholder:add a filename..."}}</span>
                    <span class="language">{{ paste_form.language }}</span>
                </div>

                <div class="paste">
                    <div class='hide'>{{ paste_form.paste }}</div>
                    <pre></pre>
                    <div class="priority">{{ forloop.counter }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div id='add-paste'>
            <i class='icon-plus icon-1x'></i>
            add another file to this paste
        </div>
        <div class="submission">
            <div class="right">
                <button type="submit" name="submit" value="Create Private Paste">
                    <i class='icon-lock icon-1x'></i>
                    Create Private Paste
                </button>

                <button type="submit" name="submit" value="Create Public Paste">
                    <i class='icon-unlock icon-1x'></i>
                    Create Public Paste
                </button>
            </div>
        </div>
        {% csrf_token %}
        {{ paste_formset.management_form }}
    </form>
</section>
{% endblock %}
