<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>GitPaste Embedding</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700|Droid+Sans+Mono' rel='stylesheet'>
        <link rel='stylesheet' media='print' href='{{ STATIC_URL }}/css/base-print.css'>
        <link rel='stylesheet' media='screen' type='text/css' href='{{ STATIC_URL }}/css/view.css'>
        <link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}/css/pygments/{{ theme }}.css'>
    </head>
    <body>
        <div class='paste'>
            <div>
                {{ paste.paste_formatted|safe }}
            </div>
        </div>
    </body>
</html>

