{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='/static/css/favorites.css'>
{% endblock %}

{% block content %}
<div id='favorites'>
  <h1>
    {% if favorites.count %}
      {{ favorites.count }} Favorite{{ favorites.count|pluralize }}
    {% else %}
      Favoriteless
    {% endif %}
  </h1>
  <div class='entry'>
    <div>
      {% for favorite in favorites %}
        <div><a href='{% url paste_view pk=favorite.parent_set.pk %}'>{{ favorite.parent_set.description }}</a>
          <br>
          {% if favorite.parent_set.owner %} 
            By <a href='{% url user_pastes owner=favorite.parent_set.owner.pk %}'>{{ favorite.parent_set.owner }}</a>.
          {% else %}
            By Anonymous.
          {% endif %}
          {{ favorite.parent_set.commit_set.all.count }} commit{{ favorite.parent_set.commit_set.all.count|pluralize }}.
        </div>
      {% empty %}
        <div>
          <h1 class='center'>What is a favorite if you don't show love?</h1>
          <p class='tiny gray center'>(a.k.a. go <a href='/search/'>find pastes</a> to favorite)</p>
        </div>
      {% endfor %}
    </div>
    <div class='clear'></div>
  </div>
</div>
{% endblock %}
