{% extends "base.html" %}
{% load elapsed %}
{% load tz %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}/css/favorites.css'>
{% endblock %}

{% block content %}
<div id='favorites'>
  <h1>
    {% if favorites.count %}
       Favorites ({{ favorites.count }})
    {% else %}
      Favoriteless
    {% endif %}
  </h1>
  <div class='entry'>
    <div>
      {% for favorite in favorites %}
        {% with favorite.parent_set as set %}
          <div>
            <a href='{% url "paste_view" pk=set.pk %}'>Paste {{ set.pk }}{% if set.description %}: {{ set.description }}{% endif %}</a>
            <br>
            {{ set.commit_set.all.count }} commit{{ set.commit_set.all.count|pluralize }}
            {% with set.commit_set.latest as latest %}
              <span class='date' title='{{ latest.created|localtime }}'>
                {{ latest.created|elapsed }} by 
                {% if latest.owner %}you{% else %}{{ latest.email }}{% endif %}.
              </span>
            {% endwith %}
          </div>
        {% endwith %}
      {% empty %}
        <div>
          <h1 class='center'>What is a favorite if you don't show love?</h1>
          <p class='tiny gray center'>(a.k.a. go <a href='/search/'>find pastes</a> to favorite)</p>
        </div>
      {% endfor %}
    </div>
    <div class='clear'></div>
  </div>
</div>
{% endblock %}
