{% extends "base.html" %}

{% block jsheader %}
<script src='/static/js/jquery.formset.min.js'></script>
<script src='/static/js/jquery.textarea.js'></script>
<script src='/static/js/jquery-ui-1.8.16.custom.min.js'></script>
<link rel='stylesheet' media='all' type='text/css' href='/static/css/paste.css'>
{% endblock %}

{% block content %}
<div id='log'>
  {% if not user.parent_set_set.all.count %}
    <div id='paste-description'>
        <strong>Paste</strong> is a simple way to <strong>share snippets and pastes</strong> with others. 
        All pastes are git repositories, so they are automatically <strong>versioned</strong>.
    </div>
  {% endif %}
  {% if pastes %}
    <h1>Your Most Recent Pastes</h1>
    {% for paste in pastes %}
      {{ paste }}
    {% endfor %}
  {% else %}
    {% if user.is_authenticated %}
      {% if not user.parent_set_set.all.count %}
        <h1>Hey!</h1>
        <p>You have not created any pastes, but you will eventually.</p>
      {% else %}
        <h1>Your Contributions</h1>
        <ul>
          {% for set in user.parent_set_set.all %}
            <li><a href='{% url paste_view pk=set.pk %}'>paste {{ set.pk }}:</a>
            <span class='description'>{{ set.description }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      <h1>Hey, you're anonymous.</h1>
      <p>You should <a href='{% url login %}'>login</a> or 
      <a href='{% url register %}'>register</a> to organize your pastes.</p>
    {% endif %}
  {% endif %}
</div>
<div id='pastes'>
  <form method='POST' id='paste-form'>
    <div class='entryless'>
      {% if user.is_authenticated %}
        <div class='anonymous'>
          <label>Remain Anonymous?</label>
            {{ commit_meta_form.anonymous }}
        </div>
      {% endif %}
      <div class='description'>
        <div>
          {% if set_form %}
            <span class='tiny gray'>Hint: You can reorder your pastes. Drag them around!</span>
            {{ set_form.description }}
          {% else %}
            <strong>Updating Paste</strong>
            <span class='tiny gray'>Hint: You can reorder your pastes. Drag them around!</span>
          {% endif %}
        </div>
      </div>
    </div>
    <ul id='sortable'>
      {% for form in forms %}
        <li>
          <div class='entry'>
            <div class='file'>
              <div>
                <div class='language'>
                  <label>Language:</label>
                  {{ form.language }}
                </div>
                {{ form.filename }}
              </div>
            </div>
            <div class='priority hidden'>
              {{ form.priority }}
            </div>
            <div class='paste'>
              <div>
                  {{ form.paste }}
              </div>
            </div>
          </div>
          <div class='clear'></div>
        </li>
      {% endfor %}
    </ul>
    <div class='submit'>
      {% if not set_form %}
        <input type='submit' value='Submit Changeset'>
      {% else %}
        <input type='submit' value='Create Paste'>
      {% endif %}
    </div>
  {% csrf_token %}
  {{ forms.management_form }}
  </form>
</div>
<script src='/static/js/paste.js'></script>
{% endblock %}
