{% extends "base.html" %}
{% load elapsed %}
{% load markup %}
{% load tz %}

{% block title %}
{% if paste_set.description %}
gitpaste.com - "{{ paste_set.description }}"
{% else %}
gitpaste.com - anonymous paste
{% endif %}
{% endblock %}

{% block jsheader %}
<script src='{{ STATIC_URL }}/js/jquery.formset.min.js'></script>
<script src='{{ STATIC_URL }}/js/ba-linkify.min.js'></script>
<link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}/css/pygments/tango.css'>
<link rel='stylesheet' media='screen' type='text/css' href='{{ STATIC_URL }}/css/view.css'>
<link rel='stylesheet' media='screen' type='text/css' href='{{ STATIC_URL }}/css/markdown.css'>
{% if use_icons %}
<link rel='stylesheet' media='screen' type='text/css' href='{{ STATIC_URL }}/css/view-icons.css'>
{% endif %}
{% endblock %}

{% block content %}
<section class='meta'>
  <h1>
    {{ paste_set.commit_set.all.count }}
    Revision{{ paste_set.commit_set.all.count|pluralize }}
  </h1>
  <ul class='revisions'>
    {% for commit in paste_set.ordered_commits %}
      {% if commit.commit == commit_current.commit %}
        <li class='active'>
      {% else %}
        <li>
      {% endif %}
      <a title='{{ commit.commit.views }} view{{ commit.commit.views|pluralize }}' href='{% url "paste_view" pk=paste_set.pk private_key=paste_set.private_key %}?commit={{ commit.commit }}'>{{ commit.commit|slice:":8"}}</a>
      <span class='author'>
        {% if commit.owner %}
            <a href='{% url "user_pastes" owner=commit.owner.pk %}'>{{ commit.email }}</a>
        {% else %}
            <a href='{% url "anon_pastes" %}'>Anonymous</a>
        {% endif %}
      </span> 
      <span class='date' title="{{ commit.created|localtime }}">
        {{ commit.created|elapsed }}.    </span> </li>
    {% endfor %}
  </ul>
  {% if user.is_authenticated %}
    <br>
    {% if not commit_current.parent_set.owner %}
      <div class="sidebar-message">
        <span class='alert'>Hey! This paste is not owned by anyone.
          <a href='{% url "paste_adopt" pk=commit_current.parent_set.pk %}'>Adopt it!</a>
        </span>
      </div>
    {% endif %}
    {% if commit_current.parent_set.owner == user %}
      <div class="sidebar-message">
        <a class='alert' href='{% url "paste_delete" pk=commit_current.parent_set.pk %}'>delete this entire paste</a>
      </div>
    {% endif %}
  {% endif %}
</section>
<div id='pastes'>
  {% if paste_set.private %}
    <div class='private-note entryless'>
      <div class='entry-header'>
        <span>
          This paste is <strong>private</strong>, you'll need this special URL to
          {% if not paste_set.owner_id or user.id != paste_set.owner_id %}revisit{% else %}share{% endif %} it:
          <input type="text" size="75" value="{{ site }}{% url "paste_view" pk=paste_set.pk private_key=paste_set.private_key %}" readonly>
        </span>
      </div>
    </div>
  {% endif %}
  <div class='entryless info'>
    <div class='small entry-header'>
      {% if user.is_authenticated %}
      <span favorite={{ favorited }} id='favorite-toggle'>
        {% if favorited %}
          <img title='Click to remove this post from your favorites' align='left' alt='favorite' height='32px' src='{{ STATIC_URL }}/img/favorite.png'>
        {% else %}
          <img title='Click to favorite this post' align='left' alt='not-favorite' height='32px' src='{{ STATIC_URL }}/img/not-favorite.png'>
        {% endif %}
        </span>
      {% endif %}
    <span class='header'>
      {% if USE_ICONS %}
        {% if commit_current.owner %}
        <a href='{% url "user_pastes" owner=commit_current.owner.pk %}'>
          <img title='User pastes' class='gravatar-community' alt='User' src='{{ commit_current.owner.preference.gravatar }}'></a>
        {% else %}
          <a href='{% url "anon_pastes" %}'><img class='gravatar-community' alt='Anonymous' src='{{ STATIC_URL }}/img/default-icon.png'></a>
        {% endif %}
      {% endif %}
      paste: {{ paste_set.pk }} / commit: {{ commit_current.commit|slice:":8" }}
      <span class="paste-actions">
      {% if editable %}
          <a title='Find the bug.' href='{% url "paste_edit" pk=paste_set.pk private_key=paste_set.active_private_key %}?commit={{ commit_current.commit }}'>edit</a>
      {% else %}
          <span title='This paste is not editable' class='unlink gray'>edit</span>
      {% endif %}
      {% if user.is_authenticated %}
        <a title='Because you can do much better.' href='{% url "paste_fork" pk=paste_set.pk private_key=paste_set.active_private_key %}?commit={{ commit_current.commit }}'>fork</a>
      {% else %}
      <span title='Login to fork' class='unlink gray'>fork</span>
      {% endif %}
      {% if user.is_authenticated and not commit_current.owner %}
          <a title='How would you feel?' href='{% url "commit_adopt" pk=commit_current.pk private_key=paste_set.active_private_key %}'>adopt</a>
      {% endif %}
      <a title='Download paste' href='{% url "commit_download" pk=commit_current.pk private_key=paste_set.active_private_key %}'>download</a>
      {% if commit_current.diff %}
        <span id='diff-toggle' class='link' title='You are not to blame'>diff</span>
      {% else %}
        <span class='gray unlink' title='No diff available'>diff</span>
      {% endif %}
      </span>
    </span>
      <br>
      {% if paste_set.description %}"{{ paste_set.description }}"{% endif %}
      {% if commit_current.owner %} by <strong><a href='{% url "user_pastes" owner=commit_current.owner.pk %}'>{{ commit_current.email }}</a></strong> {% endif %}
      <span class='date' title="{{ commit_current.created|localtime }}">
        {{ commit_current.created|elapsed }}
        with {{ commit_current.views }} 
        view{{ commit_current.views|pluralize }}.
      </span>
      {% if paste_set.fork %}
        <br>
        <em class='light'>Fork of                
          {% if paste_set.fork.parent_set.owner %}
            <a href='{% url "user_pastes" owner=paste_set.fork.parent_set.owner.pk %}'>{{ paste_set.fork.parent_set.email }}</a>
          {% else %}
            <a href='{% url "anon_pastes" %}'>Anonymous</a>
          {% endif %} at commit 
          <a href='{% url "paste_view" pk=paste_set.fork.parent_set.pk %}?commit={{ paste_set.fork.commit }}'>{{ paste_set.fork.commit|slice:":8" }}</a>
        </em>
      {% endif %}
    </div>
  </div>

  {% if commit_current.diff %}
  <div id='diff' class='entry hidden'>
    <div class='file'><div>Diff</div></div>
    <div class='paste'>
      <div>
        {{ commit_current.diff|safe }}
      </div>
    </div>
  </div>
  {% endif %}

  {% for paste in pastes %}
    <div class='entry'>
      <div class='description'>
        <div>
          {{ paste.description }}
        </div>
      </div>
      <div class='file'>
        <div class='file-download'>
            <a title='You should just fork it.' href='{% url "paste_raw" pk=paste.pk private_key=paste_set.active_private_key %}?download=true'>download</a>
            <a title='Embedding it.' href='{% url "paste_embed" pk=paste.pk private_key=paste_set.active_private_key %}'>embed</a>
        </div>
        <div id='file-{{ paste.pk }}'>
          {{ paste.filename }} <a href='#file-{{ paste.pk }}'>#</a>
          <a title='Too raw for you.' href='{% url "paste_raw" pk=paste.pk private_key=paste_set.active_private_key %}'>raw</a>
        </div>
      </div>
      <div class='paste'>
        <div>
          {{ paste.paste_formatted|safe }}
        </div>
      </div>
    </div>
    <div class='clear'></div>
  {% endfor %}
  {% if commit_current.comment_set.exists %}
    <div class='entry-comment comment'>
      <h1>{{ commit_current.comment_set.all.count }} Comment{{ commit_current.comment_set.all.count|pluralize }}</h1>
      {% for comment in commit_current.comment_set.all %}
        <div name='comment-{{ comment.pk }}' class='comment-index'>
        {% if USE_ICONS %}
            <h1 class='author {% if comment.owner == commit_current.owner %}committer{% endif %}' style='background: url({{ comment.owner.preference.gravatar }}) no-repeat left center #DDD'>
          {% else %}
            <h1 class='author {% if comment.owner == commit_current.owner %}committer{% endif %}'> 
          {% endif %}
            <a href='{% url "user_pastes" owner=comment.owner.pk %}'>
              {{ comment.email }}</a> 
            <a href='#comment-{{ comment.pk }}' id='comment-{{ comment.pk }}'>#</a>
          </h1>
          <div class='markdown'>{{ comment.comment|markdown:"safe" }}</div>
        </div>
      {% empty %}
        <div name='comment-blank' class='comment-index'>
          {% if user.is_authenticated %}
              <pre>If only there were comments...</pre>
          {% else %}
              <pre>If only there were comments... Maybe <a href='{% url "login" %}'>login</a> and add one?</pre>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if user.is_authenticated %}
    <div class='entry comment'>
      <h1 class='header'>Comment</h1>
      <p class='tiny gray'>Hint: You can use <a href='http://daringfireball.net/projects/markdown/'>markdown</a> in your comment.</p>
      <form method='POST'>
        {{ comment_form.comment }}
        {% csrf_token %}
        <input type='submit' value='Add Comment'>
      </form>
    </div>
  {% endif %}
</div>
<script>var set = "{{ commit_current.parent_set.pk }}";</script>
<script src='{{ STATIC_URL }}/js/view.js'></script>
{% endblock %}
