{% extends 'base.html' %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}/css/preference.css'>
{% endblock %}

{% block content %}
<div class='results'>
  <h1>Preferences</h1>
    {% if saved %}
    <p id='saved' class='gray tiny'>
    Your user preference were saved.<br>
    </p>
    {% endif %}
  <form method='POST' action='{% url "preference" %}'>
    {% csrf_token %}
    <div class='entry'>
    {% if USE_ICONS %}
      <div class='gray tiny float-right'>
        Your icon is controlled by 
        <a href='http://gravatar.com'>Gravatar</a>.
      </div>
      {% endif %}

      <div class='mask'>
        <label>Mask Email</label>
        {{ form.mask_email }}
      </div>

      <div class='default-anonymous'>
        <label>Default Anonymous</label>
        {{ form.default_anonymous }}
      </div>

      <div class='timezone'>
        <label>Your Timezone</label>
        {{ form.timezone }}
      </div>
      {{ form.id }}
    </div>
    <div class='search-submit'>
      <input type="submit" value="Save">
    </div>
  </form>
</div>
{% endblock %}
