{% extends "base.html" %}
{% load humanize %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='/static/css/favorites.css'>
{% endblock %}

{% block content %}
<div id='favorites'>
  <h1>
    {{ sets.count|apnumber }} Paste{{ sets.count|pluralize }} by 
    {% if owner %} 
      {{ owner }} 
    {% else %} 
      Anonymous 
    {% endif %}
  </h1>
  <div class='entry'>
    <div>
      {% for set in sets %}
        <div>
          <a href='{% url paste_view pk=set.pk %}'>Paste {{ set.pk }}{% if set.description %}: {{ set.description }}{% endif %}</a>
          <br>
          {% if set.owner %} 
            By <a href='{% url user_pastes owner=set.owner.pk %}'>{{ set.owner }}</a>.
          {% else %}
            By Anonymous.
          {% endif %}
          {{ set.commit_set.all.count }} commit{{ set.commit_set.all.count|pluralize }}.
        </div>
      {% empty %}
        <div>
          <h1 class='center'>Your requests echo far, but nothing happens.</h1>
          {% if user == owner %}
            <p class='tiny gray center'>(a.k.a. you have not <a href='{% url paste %}'>created</a> any pastes)</p>
          {% else %}
            <p class='tiny gray center'>(a.k.a. this user has not <a href='{% url paste %}'>created</a> any pastes)</p>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
    <div class='clear'></div>
  </div>
</div>
{% endblock %}
