{% extends "base.html" %}
{% load humanize %}
{% load elapsed %}
{% load tz %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='/static/css/favorites.css'>
{% endblock %}

{% block content %}
<div id='favorites'>
  <h1>
    {% if user == owner %}
    Contributed ({{ sets.count }})
    {% else %}
      {{ sets.count|apnumber|capfirst }} paste{{ sets.count|pluralize }} by 
      {% if owner %} 
        {{ owner.preferences.email }} 
      {% else %} 
        Anonymous 
      {% endif %}
    {% endif %}
  </h1>
  <div class='entry'>
    <div>
      {% for set in sets %}
        <div>
          <a href='{% url paste_view pk=set.pk %}'>Paste {{ set.pk }}{% if set.description %}: {{ set.description }}{% endif %}</a>
          <br>
          {{ set.commit_set.all.count }} commit{{ set.commit_set.all.count|pluralize }}
          {% with set.commit_set.latest as latest %}
            <span class='date' title='{{ latest.created|localtime }}'>
              {{ latest.created|elapsed }} by 
              {% if latest.owner == user %}you{% else %}{{ latest.email }}{% endif %}.
            </span>
          {% endwith %}
        </div>
      {% empty %}
        <div>
          <h1 class='center'>Your requests echo far, but nothing happens.</h1>
          {% if user == owner %}
            <p class='tiny gray center'>(a.k.a. you have not <a href='{% url paste %}'>created</a> any pastes)</p>
          {% else %}
            <p class='tiny gray center'>(a.k.a. this user has not <a href='{% url paste %}'>created</a> any pastes)</p>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
    <div class='clear'></div>
  </div>
</div>
{% endblock %}
