{% extends "base.html" %}
{% load humanize %}

{% block title %} Login {% endblock %}

{% block jsheader %}
<link rel='stylesheet' media='all' type='text/css' href='{{ STATIC_URL }}/css/favorites.css'>
{% endblock %}

{% block content %}
<div id='favorites'>
  <h1>A community of {{ users.count|apnumber }}</h1>
  <div class='entry'>
    <div>
      <div class='user'>
        <a href='{% url anon_pastes %}'>
          {% if USE_ICONS %}
            <img class='gravatar-community' title='Profile' src='{{ STATIC_URL }}/img/default-icon.png'>
          {% endif %}
          Anonymous</a>
        <br>
        {{ anons.all.count }} paste{{ anons.all.count|pluralize }}.
      </div>
      {% for user in users %}
      <div class='user'><a href='{% url user_pastes owner=user.pk %}'>
          {% if USE_ICONS %}
            <img class='gravatar-community' title='Profile' src='{{ user.preference.gravatar }}'>
          {% endif %}
          {{ user.preference.email }}</a>
          <br>
          {% if user.set_set.all.count %}
            {{ user.set_set.all.count }} paste{{ user.set_set.all.count|pluralize }}.
          {% else %}
            A pasteless user.
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class='clear'></div>
  </div>
</div>
{% endblock %}
